#header-details {
  background-color: #fffbf0;
  height: 80vh;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  line-height: 1;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
}

h4 {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

li a {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.color-text {
  color: #fabe4c;
}

.price-tag {
  color: #fabe4c;
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-details {
  background-image: linear-gradient(180deg, #a4bc46, #85a019);
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: none;
  width: 170px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
}

.card-details {
  border: none;
  height: 550px;
  box-shadow: 0px 2px 20px rgb(243, 243, 243);
  border-radius: 15px;
}

.img-detail {
  width: 370px;
  height: 340px;
  background-color: #f1f1f1;
  margin: 20px auto 0;
  border-radius: 15px;
  padding: 15px;
}

footer {
  height: 80vh;
  margin-top: 140px;
}

.flex {
  display: flex;
  border: none;
  width: 500px;
  height: 135px;
  box-shadow: 0px 2px 20px rgb(238, 238, 238);
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.flex img {
  width: 78px;
  height: 82px;
  margin-left: 20px;
}

.footer-text {
  margin-left: 2rem;
}

.footer-img {
  width: 600px;
}

@media screen and (max-width: 375px) {
  .img-detail {
    width: 300px;
  }

  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 240px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
  }
  .footer-text {
    margin: 10px auto;
  }

  .footer-img {
    width: 100%;
    margin: 5px;
  }

  .footer-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  h2 {
    text-align: center;
  }
}
